<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.png" type="image/png">
</head>

<body class="<%= theme %>-theme-body">

    <div class="container <%= theme %>-theme-container">

        <h1 class="mt-4">
            <%= title %>
        </h1>

        <div>
            <a class="btn btn-outline-primary btn-sm theme-btn" href="/">To Main Page</a>
        </div>

        <div class="container-sm mt-4">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <form action="/articles/new" method="POST">
                        <div class="form-group">
                            <label for="title">Title*:</label>
                            <input class="form-control" type="text" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="title">Text*:</label>
                            <input class="form-control" type="text" id="text" name="text" required>
                        </div>
                        <button class="btn btn-primary theme-btn" type="submit">Create Article</button>
                    </form>
                </div>
            </div>
        </div>


        <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
            <div class="alert alert-danger mt-3" role="alert">
                <%= errorMessage %>
            </div>
            <% } %>


                <% if (user) { %>
                    <div class="mr-3 mt-4">
                        Current user: <strong>
                            <%= user.email %>
                        </strong>
                    </div>
                    <div class="mb-4">
                        <form action="/auth/logout" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-primary btn-sm mt-2 theme-btn">Logout</button>
                        </form>
                    </div>
                    <% } %>

    </div>

</body>

</html>